* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 100%;
  max-width: 400px;
}

.login-box {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 5px;
}

.subtitle {
  color: gray;
  font-size: 22px;   
  margin-bottom: 20px;
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  font-size: 14px;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background: #0f172a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #1e293b;
}

#error {
  color: red;
  margin-top: 10px;
}

.traffic-light {
  display: flex;
  justify-content: center;
  gap: 12px;
  background: #111;
  padding: 10px 15px;
  border-radius: 30px;
  width: fit-content;
  margin: 0 auto 15px;
}


.light {
  width: 40px;
  height: 40px;
  background: #333;
  border-radius: 50%;
  margin: 8px auto;
  opacity: 0.3;
}

.red {
  animation: redBlink 3s infinite;
}

.yellow {
  animation: yellowBlink 3s infinite;
}

.green {
  animation: greenBlink 3s infinite;
}

@keyframes redBlink {
  0%, 33% { opacity: 1; background: red; }
  34%, 100% { opacity: 0.3; }
}

@keyframes yellowBlink {
  0%, 33% { opacity: 0.3; }
  34%, 66% { opacity: 1; background: yellow; }
  67%, 100% { opacity: 0.3; }
}

@keyframes greenBlink {
  0%, 66% { opacity: 0.3; }
  67%, 100% { opacity: 1; background: limegreen; }
}

/* Common heading size for Login & Signup */
.login-box h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}


.subtitle {
  font-size: 14px;
  margin-bottom: 20px;
}


.input-group label {
  font-size: 14px;
  font-weight: 500;
}


.input-group input,
.input-group select {
  font-size: 14px;
}


button {
  font-size: 15px;
  font-weight: 600;
}


.login-box a {
  font-size: 13px;
}


#error,
#msg {
  font-size: 13px;
}

.subtitle {
  font-size: 24px;
  color: #1a1a1a;          
  background-color: #ffffff; 
  padding: 8px 14px;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
}


.subtitle:hover {
  color: #ffffff;
  background-color: #007bff; 
  transform: scale(1.1);
}

.main {
    font-size: 42px;
    color: #0f766e;           
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}


.show-pass {
  text-align: left;
  margin-bottom: 15px;
  font-size: 13px;
  color: #333;
}

.show-pass input {
  margin-right: 6px;
  cursor: pointer;
}
